.centered {
	width: 100%;
}

p {
	line height: 100%;
}

@media screen and (max-width: 480px) {
	body {
	font-size: 12px;
	}
	
	h1 {
	font-size: 2.5em;
	}
	
	.col {
	line-height: 0%;
	}
	
	.date {
	padding: 0px 0px 10px 0px;
	}
	
	.aligner {
	display: block;
	}
	
	.aligner-item {
	display: block;
	}
	
	.private-event {
	display: none;
	}
}
