/*Main Content*/

body {
	background: white;
	font-family: 'Roboto', sans-serif;
	line-height: 200%;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-item {
  max-width: 50%;
}

a {
	color: royalblue;
	text-decoration: none;
	border-bottom: 0px;
	line-height: 150%;
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 1.5em;
	padding: 10px 0px;
	text-align: center;
	margin: 0px;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 3.5em;
	padding: 10px 0px;
	text-align: center;
	line-height: 120%;
	margin: 0px;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 1.7em;
	padding: 10px 0px;
	text-align: center;
	margin: 0px;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	padding: 10px 0px;
	text-align: left;
	margin: 0px;
}

h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	padding: 10px 0px;
	text-align: left;
	margin: 0px;
}

div {
	display: block;
}

img {
    max-width: 100%;
    height: auto;
	border: none;
}

.centered {
	width: 100%;
	margin: auto auto;
	position: relative;
}